{% extends "body.html.twig" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 mb-3">
                <h2>{{ "sulu_abbreviations.name"|trans({}, 'admin') }}: {{ abbreviation.name }}</h2>
                <h3>{{ "sulu_abbreviations.explanation"|trans({}, 'admin') }}: {{ abbreviation.explanation }}</h3>
                {% if abbreviation.description %}
                    <strong>{{ "sulu_abbreviations.description"|trans({}, 'admin') }}:</strong>
                    <p>{{ abbreviation.description|raw }}</p>
                {% endif %}

                {% if abbreviation.image %}
                    {% set media = sulu_resolve_media(abbreviation.image, app.request.locale) %}
                    {% set abbreviationImage = media.thumbnails["sulu-240x"] %}
                    <img src="{{ asset(abbreviationImage) }}" class="img-thumbnail d-block" style="width:4rem;" alt="{{ abbreviation.explanation }}">
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}